<div id="app">
  <nav>
    <div class="nav-left">
    <img  src="https://previews.123rf.com/images/sellingpix/sellingpix1509/sellingpix150900237/45458488-social-network-logo-design-vector-template-team-circle-icon-teamwork-community-friendship-logotype-c.jpg" alt="Logo">
        <input type="text" placeholder="Search Mediabook..">
    </div>
  
    <div class="nav-middle">
        <a href="#" class="active">
            <i class="fa fa-home"></i>
        </a>
  
        <a href="#">
            <i class="fa fa-user-friends"></i>
        </a>
  
        <a href="#">
            <i class="fa fa-play-circle"></i>
        </a>
  
        <a href="#">
            <i class="fa fa-users"></i>
        </a>
    </div>
  
    <div class="nav-right">
        <span class="profile"></span>
  
        <a href="#">
            <i class="fa fa-bell"></i>
        </a>
  
        <button (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
        </button>
    </div>
  </nav> 
    <app-post [posts]="posts"></app-post>
  </div>