<div class="container-fluid">
    <div class="row">
      <div class=" col -6 colContainerLeft  leftBackground">
        <div>
          <div class="row">
            <h3 class="my-3">
              <i class="fab fa-facebook"></i> This project is for educational purpose
            </h3>
          </div >
          <div class="row">
            <h3 class="my-3">
              <i class="fab fa-facebook"></i> ReactJS + Java Spring + MongoDB
            </h3>
          </div >
          <div class="row">
            <h3 class="my-3">
              <i class="fab fa-facebook"></i> The source code is open
            </h3>
          </div >
          <div class="row">
            <h3 class="my-3">
              <i class="fab fa-facebook"></i> Join and share this project to your friends
            </h3>
          </div >
        </div>
      </div>
      <div class="col-6 colContainerRight ">
        <div class="colWithButtons">
          <img src="../../assets/psn-logo-large.jpg" alt="PSN logo" width=120px class="mb-3" />
          <div>
            <h1 class="text-info mb-3">See what is happening in the world right now</h1>
          </div >
          <br />
          <div >
            <h3 class="text-info mb-3">Join penguin social network today</h3>
          </div >
          <br />
          <div >
            <a routerLink="/login" class="linkTextFormat"><button class="btn btn-info btnHomePage mb-3">Sign In </button></a>
          </div >
          <div>
          <a routerLink="/register" class="linkTextFormat"><button class="btn btn-info btnHomePage">Sign Up </button></a>
          </div >
        </div>
      </div>
    </div >
   
  </div>
 